<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
        <title>Lenny's Lawnmowers</title>
    </head>
    <body class="bootstrap-dark">
        <main class="container">
            <h1 class="mt-4 text-center">500 Error</h1>
            <p>There was an error with that operation. Please try again</p>
            <a href="/">Click here to go to the homepage.</a>
        </main>
    </body>
</html>
