{% extends "base.j2" %}
{% block main%}
    <h1 class="mt-4 text-center">Customer Contacts Table</h1>
    <h3 class="mt-4">Add a New Contact</h3>
    <form method="POST" action="/insert">
        <div class="row">
            <div class="col">
                <label for="first_name">First Name*</label>
                <input required type="text" class="form-control" name="first_name" id="first_name" />
            </div>
            <div class="col">
                <label for="last_name">Last Name*</label>
                <input required type="text" class="form-control" name="last_name" id="last_name" />
            </div>
            <div class="col">
                <label for="date">Email*</label>
                <input required type="email" class="form-control" name="email" id="email" />
            </div>
            <div class="col">
                <label for="phone_number">Phone Number*</label>
                <input
                    required
                    type="tel"
                    class="form-control"
                    name="phone_number"
                    id="phone_number"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="Format: 999-999-999"
                />
            </div>
            <div class="col">
                <label for="house_id">House ID*</label>
                <select class="form-control" name="house_id" id="house_id">
                    {% for row in house_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['street_address']}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button name="table_name" value="customer_contacts" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
    </form>

    <br />

    <h3 class="mt-4">Search Contacts by Name</h3>
    <form action="/customer-contacts" method="GET">
        <div class="row">
            <div class="col">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" />
            </div>
            <div class="col">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <a href="/customer-contacts"><button class="btn btn-outline-light mt-2">Clear</button></a>
    </form>
        
{% endblock %}

{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}