{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Houses Table</h1>
    <h3 class="mt-4">Add a New House</h3>
    <form>
        <div class="row">
            <div class="col">
                <label for="street_address_1">Street Address</label>
                <input type="text" class="form-control" id="street_address_1" />
            </div>
            <div class="col">
                <label for="street_address_2">Street Address (2)</label>
                <input type="text" class="form-control" id="street_address_2" placeholder="Unit #, etc. (Optional)" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" />
            </div>
            <div class="col">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" />
            </div>
            <div class="col">
                <label for="zip_code">ZIP</label>
                <input type="text" class="form-control" id="zip_code" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="first_name">Yard Size (acres)</label>
                <input type="number" class="form-control" id="yard_size_acres" />
            </div>
            <div class="col">
                <label for="sales_manager_id">Sales Manager ID</label>
                <select class="form-control" id="sales_manager_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
    </form>
{% endblock %}