{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Houses Table</h1>
    <h3 class="mt-4">Add a New House</h3>
    <form method="POST" action="/insert">
        <div class="row">
            <div class="col">
                <label for="street_address">Street Address*</label>
                <input required type="text" class="form-control" name="street_address" id="street_address" />
            </div>
            <div class="col">
                <label for="street_address_2">Street Address (2)</label>
                <input type="text" class="form-control" name="street_address_2" id="street_address_2" placeholder="Unit #, etc. (Optional)" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="city">City*</label>
                <input required type="text" class="form-control" name="city" id="city" />
            </div>
            <div class="col">
                <label for="state">State*</label>
                <input required type="text" class="form-control" name="state" id="state" 
                    pattern="[A-Z]{2}" placeholder="Format: NY" />
            </div>
            <div class="col">
                <label for="zip_code">ZIP*</label>
                <input required type="text" class="form-control" name="zip_code" id="zip_code" 
                    pattern="[0-9]{5}" placeholder="Format: 98765" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="first_name">Yard Size (acres)*</label>
                <input required type="number" class="form-control" name="yard_size_acres" id="yard_size_acres"
                    step="0.01" placeholder="Format: 1.50" />
                    {# pattern="[0-9]{1,6}[.][0-9]{2}" #}
            </div>
            <div class="col">
                <label for="sales_manager_id">Sales Manager ID</label>
                <select class="form-control" name="sales_manager_id" id="sales_manager_id">
                    {% for row in sales_manager_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['email']}})</option>
                    {% endfor %}
                    <option value="">NULL</option>
                </select>
            </div>
        </div>
        <button name="table_name" value="houses" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
    </form>
{% endblock %}

{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
            <th>update sales manager id</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}
            <td>
            <form method="POST" action="/update-houses-sales-manager">
                <select class="form-control" name="sales_manager_id" id="sales_manager_id">
                    {% for row in sales_manager_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['email']}})</option>
                    {% endfor %}
                    <option value="">NULL</option>
                </select>
                <button name="id" value="{{row['id']}}" type="submit" class="btn btn-outline-light btn-sm">Submit</button>
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}