<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" />
        <title>Lenny's Lawnmowers</title>
    </head>

    <!----------------------------------------------------------------------------------------------------->
    <!--FOR REFERENCE: The Project Requirements are copied and pasted below: -->
    <!----------------------------------------------------------------------------------------------------->
    <!--
    It should be possible to INSERT entries into every table individually.
-->
    <!--
    Every table should be used in at least one SELECT query. For the SELECT queries, 
    it is fine to just display the content of the tables, but your website needs to also 
    have the ability to search using text or filter using a dynamically populated list of 
    properties. This search/filter functionality should be present for at least one entity. 
    It is generally not appropriate to have only a single query that joins all tables and 
    displays them
-->
    <!--
    You need to include one DELETE and one UPDATE function in your website, for any one of 
    the entities. In addition, it should be possible to add and remove things from at least 
    one many-to-many relationship and it should be possible to add things to all relationships. 
    This means you need INSERT functionality for all relationships as well as entities. And 
    DELETE for at least one many-to-many relationship.
-->
    <!--
    In a one-to-many relationship (like bsg_people to bsg_planets), you should be able to set the 
    foreign key value to NULL (such as on a person in bsg_people), that removes the relationship. 
    In case none of the one-to-many relationships in your database has partial participation, you 
    would need to change that to make sure they can have NULL values.
-->
    <!--
    In a many-to-many relationship, to remove a relationship one would need to delete a row from a table. 
    That would be the case with bsg_people and bsg_certifications. One should be able to add and remove 
    certifications for a person without deleting either bsg_people rows or bsg_certification rows. 
    If you implement DELETE functionality on at least (1) many-to-many relationship table, such 
    that the rows in the relevant entity tables are not impacted, that is sufficient.
-->

    <!----------------------------------------------------------------------------------------------------->
    <!--PROPOSED PLAN -->
    <!----------------------------------------------------------------------------------------------------->

    <body class="bootstrap-dark">
        <nav role="navigation" class="navbar navbar-expand-lg bg-dark">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home</a>
                    <a class="nav-item nav-link" href="/jobs">Jobs</a>
                    <a class="nav-item nav-link" href="/job-workers">Job Workers</a>
                    <a class="nav-item nav-link" href="/workers">Workers</a>
                    <a class="nav-item nav-link" href="/houses">Houses</a>
                    <a class="nav-item nav-link" href="/lawnmowers">Lawnmowers</a>
                    <a class="nav-item nav-link" href="/sales-managers">Sales Managers</a>
                    <a class="nav-item nav-link" href="/customer-contacts">Customer Contacts</a>
                </div>
            </div>
        </nav>

        <main class="container">
            <h1 class="mt-4 text-center">Lenny's Lawnmowers</h1>
            <h5 class="mt-2 mb-4 text-center">Project Group #10: Jonathan Baird & Patrick Furbert</h5>

            <div class="row no-gutters" style="font-size: 0.9rem">
                <!--Jobs-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Jobs</h5>
                            <a href="/jobs" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a job</li>
                            <li class="list-group-item">Browse jobs</li>
                            <!--Satisfies criteria: one DELETE operation on a many-to-many relationship table-->
                            <!--SPEC: the page will display a list of all jobs with a button to 'remove this job'-->
                            <li class="list-group-item">Delete a job*</li>
                            <!--Satisfies criteria: one UPDATE operation on a many-to-many relationship table-->
                            <!--SPEC: the page will display a list of jobs with option to update the job's total price field-->
                            <!--SPEC: Limit this to total_price field for simplicity? or include all fields?-->
                            <li class="list-group-item">Update a job</li>
                        </ul>
                    </div>
                </div>
                <!--Job Workers-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Job Workers</h5>
                            <a href="/job-workers" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a job workers</li>
                            <li class="list-group-item">Browse job workers</li>
                            <li class="list-group-item">Update job workers</li>
                            <li class="list-group-item">Delete job workers</li>
                        </ul>
                    </div>
                </div>
                <!--Workers-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Workers</h5>
                            <a href="/workers" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a worker</li>
                            <li class="list-group-item">Browse workers</li>
                        </ul>
                    </div>
                </div>
                <!--Houses-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Houses</h5>
                            <a href="/houses" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a house</li>
                            <li class="list-group-item">Browse houses</li>
                            <!--Satisfies criteria: set a FK value to NULL in a many-to-one to remove the relationship-->
                            <!--I asked the TA a question about this requirement: https://edstem.org/us/courses/5168/discussion/386820-->
                            <!--SPEC: the page will display a list of houses and the corresponding sales manager ID / name-->
                            <!--SPEC: the user can update the sales manager or set the sales manager ID to null-->
                            <li class="list-group-item">Update house's manager**</li>
                        </ul>
                    </div>
                </div>
                <!--Lawnmowers-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Lawnmowers</h5>
                            <a href="/lawnmowers" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a lawnmower</li>
                            <li class="list-group-item">Browse lawnmowers</li>
                            <!--Satisfies criteria: one UPDATE operation on an entity table-->
                            <!--SPEC: the page will display a list of lawnmowers, a checkbox of whether is_funciton is true or not-->
                            <!--SPEC: the user can toggle the checkboxes on or off for certain lawnmowers-->
                            <li class="list-group-item">Update lawnmower status</li>
                        </ul>
                    </div>
                </div>
                <!--Sales Managers-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Sales Managers</h5>
                            <a href="/sales-managers" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a manager</li>
                            <li class="list-group-item">Browse managers</li>
                            <!--Satisfies criteria: one DELETE operation on an entity table-->
                            <!--SPEC: the page will display a list of all sales managers with a button to 'remove this sales managers'-->
                            <li class="list-group-item">Delete a manager</li>
                        </ul>
                    </div>
                </div>
                <!--Customer Contacts-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Customer Contacts</h5>
                            <a href="/customer-contacts" class="card-link">Go to Page</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Add a contact</li>
                            <li class="list-group-item">Browse contact</li>
                            <!--Satisfies criteria: at least one entity has search/filter functionality-->
                            <!--SPEC: the page will have a form that lets the user input firstname and/or lastname-->
                            <!--SPEC: FROM customer_contacts WHERE first_name LIKE '%' [AND|OR] last_name LIKE '%'-->
                            <li class="list-group-item">Search by name</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-3">*Deleting a job will also delete the corresponding records in the Job Workers M:M table</div>
            <div class="mt-1">**Setting a house's sales_manager_id to NULL will remove the M:1 relationship</div>
        </main>
    </body>
</html>
