{% extends "base.j2" %}
{% block main %}
    <h3 class="mt-4">Add a New Job Worker</h3>
    <form method="POST">
        <div class="row">
            <div class="col">
                <label for="job_id">Job ID*</label>
                <select required class="form-control" name="job_id" id="job_id">
                {% for row in job_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['date']}}, HouseID: {{row['house_id']}})</option>
                {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="worker_id">Worker ID*</label>
                <select required class="form-control" name="worker_id" id="worker_id">
                {% for row in worker_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['email']}})</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <button name="type" value="insert" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
    </form>
{% endblock %}

{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
            <th>update</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}
            
            <td>
                <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal" 
                    data-bs-target="#modal-{{ row['job_id'] }}-{{ row['worker_id'] }}">
                    Update
                </button>            
            </td>

            <td>
            <form method="POST">
                <input type="hidden" name="type" value="delete" />
                <input type="hidden" name="job_id" value="{{row['job_id']}}" />
                <input type="hidden" name="worker_id" value="{{row['worker_id']}}" />
                <button type="submit" class="btn btn-outline-light btn-sm">Delete</button>
            </form>
            </td>

        </tr>
        
        <div class="modal fade" id="modal-{{ row['job_id'] }}-{{ row['worker_id'] }}" 
        tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update this Row</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <input type="hidden" name="type" value="update" />
                    <input type="hidden" name="old_job_id" value="{{row['job_id']}}" />
                    <input type="hidden" name="old_worker_id" value="{{row['worker_id']}}" />

                    <label>Job ID</label>
                    <select required class="form-control" name="new_job_id" id="job_id">
                    {% for job_row in job_ids %}
                        {% if row['job_id'] == job_row['id'] %}{% set selected = "selected" %}{% endif %}
                        <option {{ selected }} value="{{job_row['id']}}">
                            {{job_row['id']}} ({{job_row['date']}}, HouseID: {{job_row['house_id']}})
                        </option>
                    {% endfor %}
                    </select>

                    <label>Worker ID</label>
                    <select required class="form-control" name="new_worker_id" id="worker_id">
                    {% for worker_row in worker_ids %}
                        {% if row['worker_id'] == worker_row['id'] %}{% set selected = "selected" %}{% endif %}
                        <option {{ selected }} value="{{worker_row['id']}}">
                            {{worker_row['id']}} ({{worker_row['email']}})
                        </option>
                    {% endfor %}
                    </select>
                    
                    <button type="submit" class="btn btn-outline-light btn-sm">Submit</button>
                </form>
            </div>
        </div>
        </div>
        </div>

        {% endfor %}
    </tbody>
</table>
{% endblock %}