{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Job Workers Table</h1>

    <h3 class="mt-4">Add a New Job Worker</h3>
    <form>
        <div class="row">
            <div class="col">
                <label for="worker_id">Job ID</label>
                <select class="form-control" id="worker_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
            <div class="col">
                <label for="worker_id">Worker ID</label>
                <select class="form-control" id="worker_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
    </form>
{% endblock %}
