{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Job Workers Table</h1>

    <h3 class="mt-4">Add a New Job Worker</h3>
    <form method="POST" action="/insert">
        <div class="row">
            <div class="col">
                <label for="job_id">Job ID*</label>
                <select required class="form-control" name="job_id" id="job_id">
                {% for row in job_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['date']}}, HouseID: {{row['house_id']}})</option>
                {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="worker_id">Worker ID*</label>
                <select required class="form-control" name="worker_id" id="worker_id">
                {% for row in worker_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['email']}})</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <button name="table_name" value="job_workers" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
    </form>
{% endblock %}

{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}