{% extends "base.j2" %}
{% block main %}
    <h3 class="mt-4">Add a New Job</h3>
    <form method="POST">
        <div class="row">
            <div class="col">
                <label for="date">Job Date*</label>
                <input required type="date" class="form-control" name="date" id="date" />
            </div>
            {# this is calculated by multiplying $50 * the house's acres #}
            {# <div class="col">
                <label for="total_price">Total Price (as number)</label>
                <input required type="number" step="0.1" placeholder="Format: 50.50" class="form-control" name="total_price" id="total_price" />
            </div> #}
            <div class="col">
                <label for="house_id">House ID*</label>
                <select class="form-control" name="house_id" id="house_id">
                {% for row in house_ids %}
                    <option value="{{row['id']}}">{{row['id']}} ({{row['street_address']}})</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <button name="type" value="insert" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
        <div>Note: total price is calculated by $50 * the house's acre size</div>
    </form>
{% endblock %}
{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}

            <td>
            <form method="POST">
                <input type="hidden" name="type" value="delete" />
                <button name="id" value="{{row['id']}}" type="submit" class="btn btn-outline-light btn-sm">Delete</button>
            </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}