{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Jobs Table</h1>

    <h3 class="mt-4">Add a New Job</h3>
    <form>
        <div class="row">
            <div class="col">
                <label for="date">Job Date</label>
                <input type="date" class="form-control" name="date" id="date" />
            </div>
            <div class="col">
                <label for="total_price">Total Price (in $)</label>
                <input type="number" class="form-control" name="total_price" id="total_price" />
            </div>
            <div class="col">
                <label for="house_id">House ID</label>
                <select class="form-control" name="house_i id="house_id">
                {% for id in house_ids %}
                    <option>{{id}}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
    </form>
{% endblock %}