{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Lawnmowers Table</h1>

    <h3 class="mt-4">Add a New Lawnmower</h3>
    <form>
        <div class="row">
            <div class="col">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" name="brand" id="brand" />
            </div>
            <div class="col">
                <label for="make_year">Make Year</label>
                <input type="number" class="form-control" name="make_year" id="make_year" />
            </div>
            <div class="col">
                <label for="model_name">Model Name</label>
                <input type="text" class="form-control" name="model_name" id="model_name" />
            </div>
            <div class="col">
                <label for="is_functional">Is Functional?</label>
                <input style="height: 20px" type="checkbox" class="form-control form-check-input" checked name="is_functional" id="is_functional" />
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
    </form>
{% endblock %}