{% extends "base.j2" %}
{% block main %}
    <h3 class="mt-4">Add a New Sales Manager</h3>
    <form method="POST">
        <div class="row">
            <div class="col">
                <label for="first_name">First Name*</label>
                <input required type="text" class="form-control" name="first_name" id="first_name" />
            </div>
            <div class="col">
                <label for="last_name">Last Name*</label>
                <input required type="text" class="form-control" name="last_name" id="last_name" />
            </div>
            <div class="col">
                <label for="date">Email*</label>
                <input required type="email" class="form-control" name="email" id="email" />
            </div>
            <div class="col">
                <label for="phone_number">Phone Number*</label>
                <input
                    required
                    type="tel"
                    class="form-control"
                    name="phone_number"
                    id="phone_number"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="Format: 999-999-999"
                />
            </div>
            <div class="col">
                <label for="region">Region*</label>
                <select required class="form-control" name="region" id="region">
                    <option>North</option>
                    <option>South</option>
                    <option>East</option>
                    <option>West</option>
                </select>
            </div>
        </div>
        <button name="type" value="insert" type="submit" class="btn btn-outline-light mt-2">Submit</button>
        <span>* indicates a required field</span>
    </form>
{% endblock %}

{% block browse %}
<table class="table table-striped">
    <thead>
        <tr>
            {% for field in fields %}
            <th scope="col">{{ field.replace("_", " ") }}</th>
            {% endfor %}
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in table_data %}
        <tr>
            {% for key in row.keys() %}
            <td>{{row[key]}}</td>
            {% endfor %}
            <form method="POST">
                <td>
                <input type="hidden" name="type" value="delete" />
                <button name="id" value="{{row['id']}}" type="submit" class="btn btn-outline-light btn-sm">Delete</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}