{% extends "base.j2" %}
{% block main %}
    <h1 class="mt-4 text-center">Sales Managers Table</h1>

    <h3 class="mt-4">Add a New Sales Manager</h3>
    <form>
        <div class="row">
            <div class="col">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" />
            </div>
            <div class="col">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" />
            </div>
            <div class="col">
                <label for="date">Email</label>
                <input type="email" class="form-control" id="email" />
            </div>
            <div class="col">
                <label for="phone_number">Phone Number</label>
                <input
                    type="tel"
                    class="form-control"
                    id="phone_number"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                    placeholder="Format: 999-999-999"
                />
            </div>
            <div class="col">
                <label for="region">Region</label>
                <select class="form-control" id="region">
                    <option>North</option>
                    <option>South</option>
                    <option>East</option>
                    <option>West</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-light mt-2">Submit</button>
    </form>
{% endblock %}